
.recipe-img {
    width: 270px;
    height: 270px;
    vertical-align: middle;
    border: 0;
    border-style: none;
}

.recipe-text {
    width: 270px;
    height: auto;
    text-align: left;
    padding: 12px 56px 6px 12px;
    white-space: nowrap;
    -webkit-mask-image: -webkit-gradient(linear, right 500%, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
}

.recipe-item {
    display: inline-block;
    margin: 14px 7px 14px 7px;
    border: solid 1px #ddd;
    background-color: #fff;
}

.ingredient-item {
    display: inline-block;
    margin: 0px 0px 5px 7px;
    /*border: solid 1px #ddd;*/
    background-color: #fff;
}

.ingredient-group {
    padding-left: 0;
}

.recipe-group {
    margin-top: 0;
    margin-bottom: 10px;
}

.category {
    font-size: 13px;
}

.search {
    margin: 10px 10px 10px 0px;
}

.topper {
    padding-left: 50px;
}

.content-area {
    padding-left: 50px;

}

.content-area h1 {

}

.desc {
    margin-top: 10px;
}

.title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.input-form {
    margin-left: 25px;
    margin-top: 20px;
}

/*upload css*/
#droparea {
    width: 430px;
    min-height: 400px;
    margin-top: 40px;
    /*padding: 0 20px;*/
    border: 2px solid #c12e2a;
}

#previewsContainer {
    width: 300px;
    min-height: 280px;
    /*padding: 10px 20px;*/
    background: #FFF;
    /*margin: 0 auto 20px;*/
}

#selectImage {
    color: #FFF;
    width: 200px;
    text-align: center;
    padding: 10px 0;
    background: #c12e2a;
    float: left;
    cursor: pointer;
}

#fileSubmit {
    color: #FFF;
    width: 200px;
    margin: 0 0 0 30px;
    text-align: center;
    padding: 10px 0;
    background: #c12e2a;
    float: left;
    cursor: pointer;
}

/*#sortable {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*width: 840px;*/
/*}*/

#sortable2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 340px;
}
#sortable1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 640px;
}

/*#sortable li {*/
    /*margin: 1px 3px 3px 0;*/
    /*padding: 0px;*/
    /*float: left;*/
    /*width: 414px;*/
    /*height: 226px;*/
    /*font-size: 1em;*/
    /*text-align: center;*/
/*}*/

#sortable1 li {
    margin: 1px 3px 3px 0;
    padding: 0px;
    float: left;
    width: 300px;
    height: 200px;
    font-size: 1em;
    text-align: center;
}

#sortable2 li {

    margin: 1px 3px 3px 0;
    margin-left: 10%;
    padding: 0px;
    float: left;
    width: 300px;
    height: 200px;
    font-size: 1em;
    text-align: center;
}

#show-label {
    text-align: center;
}

.separator{
    position: relative;
}
.separator:after{
    margin-left: -5px;
   position: absolute;
   top:0.1em;
   height: auto;
   left:0;
   content: '';
   width:0;
   border-left: solid #6c518b 2px;
}

#category-image {
    width: 300px;
    height: 180px;
}