<!DOCTYPE html>
<html lang="sv">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="static/js/dropzone.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{#<script src="static/js/upload.js"></script>#}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/template.css') }}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <title>DYNAMIC FEED</title>
</head>
<body>
<script>
    var root_url='http://localhost:5000/'
</script>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><a href={{ url_for('logout') }}>Logout</a></button>
    <button type="button" class="btn btn-default"><a href={{ url_for('index') }}>Recipes</a></button>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Category&Tag Operation

            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href={{ url_for('create_category') }}>Create/Delete a category</a></li>
            <li><a href={{ url_for('create_tag') }}>Add/Delete a tag in certain category</a></li>
            <li><a href={{ url_for('edit_category_name') }}>Edit category name</a></li>
            <li><a href={{ url_for('change_order') }}>Change order</a></li>

        </ul>
    </div>
</div>


{% block content %}{% endblock %}
</body>
</html>