{% extends "base.html" %}
{% block content %}
    <div class="topper">
        <h3 class="title">Change Display Order</h3>


        {#        <ul id="sortable">#}
        {#            {% for category in categories %}#}
        {##}
        {#                <li class="ui-state-default">#}
        {#                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>#}
        {#                    <img src={{ image_url+category['image_name']+'.png' }}>#}
        {#                    <label>{{ category['sv'] }}</label>#}
        {#                </li>#}
        {##}
        {#            {% endfor %}#}
        {##}
        {#        </ul>#}
        <div class="col-lg-12">
            <button class="btn btn-danger" id="new_order">Change the order</button>
            <br><br>
            <button class="btn btn-danger" id="reload">Reload/Restart</button>
        </div>
{#        <div class="col-lg-12">#}
{#            <label class="col-lg-5" id="show-label">Show in the app</label>#}
{#            <label class="col-lg-4" id="show-label">Not show in the app</label>#}
{##}
{#        </div>#}

        <div class="col-lg-12">

            <ul id="sortable1" class="connectedSortable col-lg-3">
                {% for category in categories[:6] %}

                    <li class="ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <img id="category-image" src={{ image_url+category['image_name']+'.png' }}>
                        <label>{{ category['sv'] }}</label>
                    </li>

                {% endfor %}
            </ul>
            <ul id="sortable2" class="connectedSortable col-lg-3 ">
                {% for category in categories[6:] %}

                    <li class="ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <img  id="category-image" src={{ image_url+category['image_name']+'.png' }}>
                        <label>{{ category['sv'] }}</label>
                    </li>

                {% endfor %}
            </ul>
        </div>


        <script type=text/javascript>


            $(function () {
                $("#sortable1, #sortable2").sortable({
                    connectWith: ".connectedSortable"
                }).disableSelection();

                {#                $('#sortable1').sortable({connectWith: $('#sortable2')}).disableSelection();#}
                {#                $('#sortable2').sortable({connectWith: $('#sortable1')}).disableSelection();#}


{#                $("#sortable").sortable();#}
{#                $("#sortable").disableSelection();#}
                $("#new_order").bind('click', function () {
                    var new_order = new Array()
                    $("#sortable1 li label").each(function () {
                        new_order.push($(this).text())
                    })
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json;charset=utf-8',
                        url: root_url + "order_category",
                        data: JSON.stringify(new_order),
                        success: function (data) {
                            console.log(data);
                        }
                        ,
                        dataType: 'json'
                    });
                });


                $('button[id="reload"]').bind('click', function () {
                    window.location.reload(true);

                });
            })
            ;


        </script>


    </div>

{% endblock %}