{% extends "base.html" %}
{% block content %}
    <div class="topper">
        <h3 class="title">Create / Delete Category</h3>
        <ul id="data-list">

        </ul>
        <br>

        <div class="col-lg-12">
            <div id='category-form' class="form-group col-lg-4 input-form">

                <input id="name-usa" type="text" placeholder="name in english" class="form-control"><br>
                <input id="name-sv" type="text" placeholder="name in swedish" class="form-control"><br>
                <input id="image-name" type="text" placeholder="name of the image but without @3x.png,the XXX part"
                       class="form-control"><br>

                <input id="tags" type="text" placeholder="add tag or tags(use comma to split)" class="form-control"><br>
                <button class='btn btn-danger' id="create-category">Add new category</button>
                <button class='btn btn-danger' id="delete-category">Delete category</button>

                <button class="btn btn-danger" id="reload">Reload</button>
                <span>Before Upload,check the name of Image is correctly formatted:XXX@3x.png.</span>
                <span>And check if the size of the picture is 1242 x 618</span>

            </div>

            <div class="col-lg-6">
                <button id="selectImage" class="btn btn-danger">Select Image</button>
                {#                <div id="fileSubmit">Submit</div>#}

                <div id="droparea">
                    <div id="previewsContainer">
                    </div>
                </div>
            </div>
        </div>


        <script type=text/javascript>

            var result_array;
            $.ajax({
                type: "GET",
                url: root_url+"show_category",
                cache: false,
                success: function (result) {
                    result_array = result;
                    for (var idx in result_array) {
                        {#                        console.log(idx)#}

                        for (var cat_id in result_array[idx]) {

                            for (var key in result_array[idx][cat_id]) {
                                var replaced = key.replace(new RegExp(' ', 'g'), '_');
                                var replaced = replaced.replace('!', '');
                                if ($("#" + replaced).length) {
                                    $("#" + replaced).text($("#" + replaced).text() + ', ' + result_array[idx][cat_id][key])
                                } else {
                                    if (!result_array[idx][cat_id][key]) {
                                        result_array[idx][cat_id][key] = ''
                                    }
                                    $('#data-list').append('<li class="list-group-item col-lg-6" id=' + replaced + '>' + key + ' :  ' + result_array[idx][cat_id][key] + '</li>');
                                }

                            }

                        }
                    }
                }
            });

            $(function () {

                var myDropzone = new Dropzone("div#droparea", {
                    url: root_url+"modify_category",
                    method: "POST", // can be changed to "put" if necessary
                    maxFilesize: 2, // in MB
                    paramName: "file", // The name that will be used to transfer the file
                    uploadMultiple: true, // This option will also trigger additional events (like processingmultiple).

                    addRemoveLinks: true, // add an <a class="dz-remove">Remove file</a> element to the file preview that will remove the file, and it will change to Cancel upload
                    previewsContainer: "#previewsContainer",
                    clickable: "#selectImage",
                    createImageThumbnails: true,
                    maxThumbnailFilesize: 2, // in MB
                    thumbnailWidth: 300,
                    thumbnailHeight: 300,
                    maxFiles: 1,
                    acceptedFiles: "image/png, image/jpeg", //This is a comma separated list of mime types or file extensions.Eg.: image/*,application/pdf,.psd.
                    autoProcessQueue: false, // When set to false you have to call myDropzone.processQueue() yourself in order to upload the dropped files.
                    forceFallback: false,

                    init: function () {
                        console.log("init");
                    },
                    //resize: function(file) {
                    //  console.log("resize");
                    //  /*
                    //   * Crop rectangle range
                    //   * Those values are going to be used by ctx.drawImage().
                    //   */
                    //  return {"srcX":0, "srcY":0, "srcWidth":300, "srcHeight":300}
                    //},
                    accept: function (file, done) {
                        console.log("accept");
                        done();
                    },
                    fallback: function () {
                        console.log("fallback");
                    }
                });

                myDropzone.options.previewTemplate = '\
<div class="dz-preview dz-file-preview">\
      <div class="dz-details">\
      <div class="dz-filename"><span data-dz-name></span></div>\
      <div class="dz-size" data-dz-size></div>\
      <img data-dz-thumbnail />\
    </div>\
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>\
    <div class="dz-error-message"><span data-dz-errormessage></span></div>\
    </div>';


                $('button[id="create-category"]').bind('click', function () {

                    var category_form = new FormData();

                    var name_usa = document.getElementById('name-usa').value;
                    var name_sv = document.getElementById('name-sv').value;
                    var image_name = document.getElementById('image-name').value;

                    var tags = document.getElementById('tags').value;
                    category_form.append('name_usa', name_usa);
                    category_form.append('name_sv', name_sv);
                    category_form.append('image_name', image_name);
                    category_form.append('tags', tags);
                    category_form.append('operation_type', 'create');

                    $.ajax({
                        type: "POST",
                        url: root_url+"modify_category",
                        data: category_form,
                        contentType: false,
                        processData: false,
                        cache: false,
                        success: function (result) {
                            $('#category-form').append('<p>Category Added Successfully!</p>');
                            myDropzone.processQueue()
                        }
                    });
                });


                $('button[id="delete-category"]').bind('click', function () {

                    var category_form = new FormData();
                    var name_sv = document.getElementById('name-sv').value;

                    category_form.append('name_sv', name_sv);
                    category_form.append('operation_type', 'delete');

                    $.ajax({
                        type: "POST",
                        url: root_url+"modify_category",
                        data: category_form,
                        contentType: false,
                        processData: false,
                        cache: false,
                        success: function (result) {
                            console.log(result);
                        }
                    });
                });

                $('button[id="reload"]').bind('click', function () {
                    window.location.reload(true);

                });

                myDropzone.on("success", function (file) {
                    $('#category-form').append('<p>Picture Uploaded Successfully!</p>');
                });

            })
            ;


        </script>


    </div>

{% endblock %}