{% extends "base.html" %}
{% block content %}
    <div class="topper" >
        <h3 class="title">Add / Delete tag in certain category</h3>
        <ul id="data-list">

        </ul>
        <div class="form-group col-lg-4 input-form">
            <input id="tag-name" type="text" placeholder="tag name" class="form-control"><br>
            <input id="category-name" type="text" placeholder="name of category" class="form-control "><br>
            <button class='btn btn-danger' id="add_tag_to_category">Add tag</button>
            <button class='btn btn-danger' id="delete_tag_to_category">Delete tag</button>
            <button class="btn btn-danger" id="reload">Reload</button>
        </div>


        <script type=text/javascript>

            var result_array
            $.ajax({
                type: "GET",
                url: root_url+"show_category",
                cache: false,
                success: function (result) {
                        result_array = result;
                    for (var idx in result_array) {
                        {#                        console.log(idx)#}

                        for (var cat_id in result_array[idx]) {

                            for(var key in result_array[idx][cat_id]){
                                var replaced = key.replace(new RegExp(' ', 'g'), '_');
                            var replaced = replaced.replace('!', '');
                            if ($("#" + replaced).length) {
                                $("#" + replaced).text($("#" + replaced).text() + ', ' + result_array[idx][cat_id][key])
                            } else {
                                if(!result_array[idx][cat_id][key]){
                                    result_array[idx][cat_id][key]=''
                                }
                                $('#data-list').append('<li class="list-group-item" id=' + replaced + '>' + key + ' :  ' + result_array[idx][cat_id][key] + '</li>');
                            }

                            }

                        }
                    }
                }
            });


            $(function () {
                $('button[id="add_tag_to_category"]').bind('click', function () {
                    var tag_form = new FormData();
                    var tag_name = document.getElementById('tag-name').value;
                    var category_name = document.getElementById('category-name').value;
                    var operation_type = 'add';

                    tag_form.append('tag_name', tag_name);
                    tag_form.append('tag_language', 'sv');
                    tag_form.append('category_name', category_name);
                    tag_form.append('operation_type', operation_type);

                    $.ajax({
                        type: "POST",
                        url: root_url+"modify_tag",
                        data: tag_form,
                        contentType: false,
                        processData: false,
                        cache: false,
                        success: function (result) {
                            console.log(result);

                        }
                    });
                });

                $('button[id="delete_tag_to_category"]').bind('click', function () {
                    var tag_form = new FormData();
                    var tag_name = document.getElementById('tag-name').value;
                    var category_name = document.getElementById('category-name').value;
                    var operation_type = 'delete';
                    tag_form.append('tag_name', tag_name);
                    tag_form.append('tag_language', 'sv');
                    tag_form.append('category_name', category_name);
                    tag_form.append('operation_type', operation_type);

                    $.ajax({
                        type: "POST",
                        url: root_url+"modify_tag",
                        data: tag_form,
                        contentType: false,
                        processData: false,
                        cache: false,
                        success: function (result) {
                            console.log(result);

                        }
                    });
                });

                $('button[id="reload"]').bind('click', function () {
                    window.location.reload(true);

                });

            });

        </script>


    </div>


{% endblock %}