{% extends "base.html" %}
{% block content %}
    <div class="topper">
        <h3 class="title">Edit Category Name</h3>
        <ul id="data-list">

        </ul>
        <div class="form-group col-lg-4 input-form">

            <input id="name-sv-old" type="text" placeholder="name sv old" class="form-control"><br>
            <input id="name-sv-new" type="text" placeholder="name sv new" class="form-control"><br>
            <button class='btn btn-danger' id="edit-category">Edit Category Name</button>
            <button class="btn btn-danger" id="reload">Reload</button>

        </div>

        <script type=text/javascript>

            var result_array
            $.ajax({
                type: "GET",
                url: root_url + "show_category",
                cache: false,
                success: function (result) {
                    result_array = result;
                    for (var idx in result_array) {
                        {#                        console.log(idx)#}

                        for (var cat_id in result_array[idx]) {

                            for (var key in result_array[idx][cat_id]) {
                                var replaced = key.replace(new RegExp(' ', 'g'), '_');
                                var replaced = replaced.replace('!', '');
                                if ($("#" + replaced).length) {
                                    $("#" + replaced).text($("#" + replaced).text() + ', ' + result_array[idx][cat_id][key])
                                } else {
                                    if (!result_array[idx][cat_id][key]) {
                                        result_array[idx][cat_id][key] = ''
                                    }
                                    $('#data-list').append('<li class="list-group-item" id=' + replaced + '>' + key + ' :  ' + result_array[idx][cat_id][key] + '</li>');
                                }

                            }

                        }
                    }
                }
            });

            $(function () {
                $('button[id="edit-category"]').bind('click', function () {
                    var category_form = new FormData();
                    var name_sv_old = document.getElementById('name-sv-old').value;
                    var name_sv_new = document.getElementById('name-sv-new').value;
                    category_form.append('name_sv_old', name_sv_old);
                    category_form.append('name_sv_new', name_sv_new);
                    $.ajax({
                        type: "POST",
                        url: root_url + "edit_category_name",
                        data: category_form,
                        contentType: false,
                        processData: false,
                        cache: false,
                        success: function (result) {
                            {#                            console.log(result);#}

                        }
                    });
                });

                $('button[id="reload"]').bind('click', function () {
                    window.location.reload(true);

                });
            });

        </script>


    </div>

{% endblock %}