{% extends "base.html" %}
{% block content %}
<div class="topper">
    <h1>Recipes </h1>
    <p>Input keywords/tag here for searching:</p>
    <form action="/index" method="post" name="search">

        {{ form.hidden_tag() }}
        {{ form.search(size=60,class_='search') }}
        <br>
        {{ form.keyword(class_='btn btn-danger') }}
        {{ form.tag(class_='btn btn-danger') }}

    </form>
</div>
    <ul class="recipe-group">
        {% for recipe in recipes %}

            <li class="recipe-item">
                <div >
                    <a href=/recipe/{{ recipe['_source']['uniqid'] }}>
                        <img class='recipe-img' src={{ recipe['_source']['images'][0]['url'] }}>
                    </a>
                </div>

                <div class="recipe-text">
                    <p>{{ recipe['_source']['name'] }}</p>
                    {% for category in recipe['_source']['categories'] %}
                        <label class="label label-danger">{{ category }}</label>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>

<hr>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
{% endwith %}
    <script type=text/javascript>
    $('label[class="label label-danger"]').bind('click', function(e) {
        console.log($(e.target).text());
        $.ajax({
            type: "POST",
            url: "/tag",
            data: $(e.target).text(),
            contentType: false,
            processData: false,
            cache: false,
            success: function(data, textStatus, jqXHR){
                    document.open();
                    document.write(data);
                }
        });
    })

    </script>

{% endblock %}
