{% extends "base.html" %}
{% block content %}
    <div class="topper">
        <h1>Sign In</h1>

        <form action="" method="post" name="login">

            {{ form.hidden_tag() }}
            <p>
                Please enter your ID:<br>
                {{ form.id(size=50) }}
                {#        {{ form.csrf_token }}<br>#}
                {% for error in form.id.errors %}
                    <span style="color: #ff3738;">[{{ error }}]</span>
                {% endfor %}<br>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <span style="color: #ff3738;">[{{ message }}]</span>
                        {% endfor %}
                    {% endif %}
                {% endwith %}


            </p>

            <p>{{ form.remember_me }} Remember Me</p>

            <p><input class="btn btn-danger" type="submit" value="Sign In"></p>
        </form>
    </div>

{% endblock %}