{% extends "base.html" %}
{% block content %}
    <div class="content-area">
        <h1 class="title">Recipe -- {{ recipe['_source']['name'] }}</h1>

        <div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <img class='recipe-img' src={{ recipe['_source']['images'][0]['url'] }}>
                </div>
                <div class="col-md-7">
                    <p><strong>Credit</strong>:<br> {{ recipe['_source']['credit_text'] }} </p>

                    <p class="desc"><strong>Description</strong>:<br> {{ recipe['_source']['short_description'] }}</p>

                    <p><strong>Ingredients</strong>:</p>
                    <ul class="ingredient-group">
                        {% for ingredient in recipe['_source']['ingredients'][0]['ingredients'] %}
                            <li class="ingredient-item label label-primary"> {{ ingredient['name'] }}</li>
                        {% endfor %}
                    </ul>

                </div>


            </div>


            <div class="col-md-12">
                <h3>Tags/Categories:</h3>
                {% for tag in recipe['_source']['categories'] %}
                    <h4 id="recipe-tag">{{ tag }}</h4>
                {% endfor %}
                <form>
                    <input class="" id="add-tag-text" type=placeholder="tag">
                </form>

                <br>
                <button class='btn btn-danger' id="add-tag">add tag</button>
                <button class='btn btn-danger' id="delete-tag">delete tag</button>
                <button class='btn btn-danger' id="reload-page">reload</button>
            </div>


            <script type=text/javascript>

                $(function () {
                    $('button[id="add-tag"]').bind('click', function () {
                        var tag_data = new FormData();
                        var tags ={{ recipe['_source']['categories']| tojson }};
                        var add_one = document.getElementById('add-tag-text').value;
                        if (add_one) {
                            tags.push(add_one)

                        }
                        tag_data.append('id', '{{ recipe['_id'] }}');
                        tag_data.append('tags', tags);
                        tag_data.append('credit', '{{ recipe['_source']['credit_text'] }}');
                        $.ajax({
                            type: "POST",
                            url: "/foo/{{ recipe['_source']['uniqid'] }}",
                            data: tag_data,
                            contentType: false,
                            processData: false,
                            cache: false,
                            success: function (result) {
                                console.log(result);

                            }
                        });

                    });
                });

                $(function () {
                    $('button[id="delete-tag"]').bind('click', function () {
                        var tag_data = new FormData();
                        var tags ={{ recipe['_source']['categories']| tojson }};
                        var delete_one = document.getElementById('add-tag-text').value;
                        var idx = tags.indexOf(delete_one);
                        if (idx != -1) {
                            console.log(idx);
                            tags.splice(idx, 1)
                        }
                        tag_data.append('id', '{{ recipe['_id'] }}');
                        tag_data.append('tags', tags);
                        tag_data.append('credit', '{{ recipe['_source']['credit_text'] }}');

                        $.ajax({
                            type: "POST",
                            url: "/foo/{{ recipe['_source']['uniqid'] }}",
                            data: tag_data,
                            contentType: false,
                            processData: false,
                            cache: false,
                            success: function (result) {
                                console.log(result);
                            }
                        });
                    });
                });
                $(function () {
                    $('button[id="reload-page"]').bind('click', function () {

                        window.location.reload(true);
                    });

                });

                $(function () {
                    $('h4[id="recipe-tag"]').bind('click', function (e) {
                        var selected_tag = $(e.target).text();
                        $('input[id="add-tag-text"]').val(selected_tag)
                    })
                })

            </script>
        </div>
    </div>



{% endblock %}